/arduino/shawnLED/.theia/launch.json
/arduino/shawnLED/.vs/ProjectSettings.json
/arduino/shawnLED/.vs/shawnLED/v16/.suo
/arduino/shawnLED/.vs/shawnLED/v16/Browse.VC.db
/arduino/shawnLED/.vs/slnx.sqlite
/arduino/shawnLED/.vs/VSWorkspaceState.json
/arduino/shawnLED/shawnLED.vcxproj
/arduino/shawnLED/shawnLED.vcxproj.filters
/arduino/shawnLED/shawnLED.vcxproj.user
